vscode_anylox_ws.code-workspace
.ipynb_checkpoints
__pycache__
s0.pkl
s1.pkl
s2.pkl
s3.pkl
s4.pkl
.idea
*.spec
.vscode
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz


# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
# build folder is nowadays used for build scripts and should not be ignored
#build/